## Ignore Visual Studio C/C++, C# and Python temporary files, build results etc.
## Based on https://github.com/github/gitignore/blob/master/VisualStudio.gitignore

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# MonoDevelop
*.userprefs

# Build results
[Dd]ebug[Pp]ublic/
[Rr]eleases/
bld/
[Bb]in/
[Tt]mp/
[Oo]bj/
[Ll]og/
[Bb]in_x64_[Dd]ebug/
[Bb]bin_x64_[Rr]elease/

# Assets to ignore
SanMiguel/

# Windows specific files
[Tt]humbs.db

# Visual Studio cache
.vs/
*.[Cc]ache

# Compile results & other files
*.meta
*.pdb
*.log
*.tmp
*.tlog
*.svclog

# C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Installshield output folder
Express/
express/

# Backup and Upgrade logs
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm

# SQL Server files
*.mdf
*.ldf
*.ndf

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc